<html>
	<head>
		<title>Caesar Cipher!</title>
	</head>
	<body style="background-color:AliceBlue">
		<center>
		<h1>Caesar Cipher</h1>
		<form method="POST" action="/">
		<label for="cipher">Enter your message here:</label>
		<div>
			<textarea rows="4" cols="50" name="cipher"></textarea>
		</div>
		<label for="shift">Enter your shift amount here</label>
		<div>
			<input type="number" name="shift" min="1">
		</div>
		<div>
			<input type="submit">
		</div>
		</form>

		<div>
		<p> <%= string %> </p>
		</div>
		</center>
	</body>
</html>